html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: cornflowerblue;
}

* {
  box-sizing: border-box;
}

  body {
    color: #150700;
    background: #ffffff;
  }

header{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 999;
  top:0;
  width: 100%;
  height: 200px;
}

.app-bar-wrapper{
  background-color: #ffffff;
  position: fixed;
  border-bottom: 20px solid cornflowerblue;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-top: 50px;
}

.app-bar-wrapper-scrolling{
  margin-top: 0;
}
.nav-link-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding:10px;
  margin:auto 0;
}

.nav-link-wrapper > p {
  margin:auto auto;
  height: fit-content;
}
.nav-icon-wrapper{
  margin: auto 10px auto 10px;
}

nav{
  width: fit-content;
  display: flex;
  justify-content: flex-end;
}

.app-bar-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
}

.search-bar{
  margin: auto 0;
  width: fit-content;
}

.search-bar > .input-and-icon-wrapper > input {
  position: absolute;
  width: 300px;
  height: 40px;
  padding: 0 50px 0 10px;
}

.input-icon{
  position: absolute;
  z-index: 999;
  transform-origin: center center;
  top:20%;
  right:10px;
  cursor: pointer;
}

.input-and-icon-wrapper{
  position: relative;
  width: 300px;
  height: 40px;
}

.drawer-close-icon-wrapper{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  padding: 10px;
}

.top-bar-wrapper{
  width: 100%;
  height: 50px;
  justify-content: space-evenly;
  align-content: space-evenly;
  display: flex;
  padding-top: 10px;
  border-bottom: 1px solid lightgray;
}

.social-icons-wrappers, .location-wrappers > a, .opening-hours{
  display: flex;
  justify-content: space-evenly;
}

.social-icons-wrappers > a > svg{
  margin: 0 15px;
  cursor: pointer;
}


.location-wrappers > a > p, .opening-hours > p{
 margin: 3px 0 0 5px;
}

.product-categories, .other-pages-list-wrapper{
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.product-categories > a, .other-pages-list-wrapper > a{
  height: 40px;
  width: 300px;
  padding-left: 30px;
  border-right: 1px solid lightgray;
}


.product-categories > a > p, .other-pages-list-wrapper > a > p{
  display: flex;
  flex-direction:column;
  justify-content: center;
  margin: 0;
  height: 100%;
}
.footer-links{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 750px;
}

.webpage-content{
  margin-top: 195px;
  margin-bottom: 300px;
  min-height: calc(100vh - 800px);
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 20px solid cornflowerblue;
  width: 100%;
  height: 300px;
}

.search-bar-footer{
  display: flex;
  flex-direction: column;
  width: 300px;
}

.search-bar-footer > a, .search-bar-footer > .search-bar,.search-bar-footer > .social-icons-wrappers {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
@media only screen and (min-device-width : 600px) and (max-device-width : 1200px){

  header{
    height: 150px !important;
  }


  .product-categories > a, .other-pages-list-wrapper > a, .search-bar-footer, .product-categories, .other-pages-list-wrapper{
    width: 250px;
  }

  .footer-links{
    width: 550px;
    margin-left: 20px;
  }

  .search-bar-footer{
    width: 450px;
  }

  .webpage-content{
    margin-top: 165px;
    min-height: calc(100vh - 450px);
    margin-bottom: 0;
  }

  footer{
    height: 300px;
    padding: 20px;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 600px) {

  .app-bar-wrapper{
    margin-top: 0!important;
  }

  header{
    height: 120px !important;
  }

  .webpage-content{
    margin-top: 135px;
    margin-bottom: 0;
  }

  .footer-links, footer{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .product-categories > a, .other-pages-list-wrapper > a, .search-bar-footer, .product-categories, .other-pages-list-wrapper{
    width: 100%;
    border-right: none;
  }

  footer{
    height: 750px;
    padding: 20px;
  }

  .top-bar-wrapper{
    flex-direction: column;
    height: fit-content;
    margin-bottom: 20px;
    border-bottom: none;
    padding: 0 20px;
  }

  .social-icons-wrappers, .location-wrappers, .opening-hours{
    margin: 10px 0;
  }

  .location-wrappers, .opening-hours, .search-bar-drawer{
    justify-content: center;
  }

   .MuiList-padding{
    padding: 0;
  }

   .search-bar-drawer >.input-and-icon-wrapper > input{
     width: 90%;
     height: 40px;
   }


  .search-bar-drawer > .input-and-icon-wrapper > .input-icon{
    position: absolute;
    z-index: 999;
    transform-origin: center center;
    top:20%;
    right:20px;
    cursor: pointer;
  }

  .search-bar-drawer >.input-and-icon-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .search-bar-drawer{
    position: relative;
    border-bottom: 1px solid lightgray;
    padding-bottom:20px;
  }

  body > div.MuiDrawer-root.MuiDrawer-modal.MuiModal-root.css-1u2w381-MuiModal-root-MuiDrawer-root > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.css-4t3x6l-MuiPaper-root-MuiDrawer-paper > div.MuiBox-root{
    width: 100%;
  }

  body > div.MuiDrawer-root.MuiDrawer-modal.MuiModal-root.css-1u2w381-MuiModal-root-MuiDrawer-root > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.css-4t3x6l-MuiPaper-root-MuiDrawer-paper > div.MuiBox-root.css-1hskriy > ul{
    padding: 0;
  }
  body > div.MuiDrawer-root.MuiDrawer-modal.MuiModal-root.css-1u2w381-MuiModal-root-MuiDrawer-root > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.css-4t3x6l-MuiPaper-root-MuiDrawer-paper > a{
    width: 100%;
    padding: 20px;
    justify-content: center;
    display: flex;
  }
}
