.contentWrapper{
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin:auto;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 50px;
}

.contentWrapper > img {
  margin: auto;
}
