.productCardWrapper{
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    background-color: white;
    border-radius:4px;
    width:400px;
    padding:30px;
    margin:30px;
}

.buttonWrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 30px;
}
